---
import Layout from '@/layouts/Layout.astro';

const metaData = {
  title: '',
  description: '',
};
---

<Layout {...metaData}>
  <main class="l-main"> </main>
</Layout>

<!-- <style lang="scss"></style> -->
