---
interface Props {
  name: string;
  class?: string;
}

const { name, class: className, ...rest } = Astro.props;

/*
<Accordion name="ACCORDION_NAME" summaryHover="hover">
  <Fragment slot="summary">アコーディオンのタイトル</Fragment>
  <Fragment slot="content">アコーディオンの内容</Fragment>
</Accordion>
*/
---

<details class:list={[className, 'accordion', 'c-accordion']} data-accordion="details" data-accordion-name={name} {...rest}>
  <summary class="accordion__summary" data-accordion="summary" aria-expanded="false" aria-controls={`accordion_${name}`}>
    <slot name="summary" />
  </summary>
  <div id={`accordion_${name}`} class="accordion__content" data-accordion="content">
    <slot name="content" />
  </div>
</details>

<style lang="scss">
  .c-accordion {
    .accordion__content {
      overflow: hidden;
    }
  }
</style>
