---
interface Props {
  tabId: string;
}

const { tabId, ...rest } = Astro.props;

/*
  <TabButton tabId="TAB_ID">
    ----- 内部 -----
  </TabButton>
*/
---

<div id={`tabpanel-${tabId}`} class="tabpanel" role="tabpanel" aria-labelledby={`tab-${tabId}`} {...rest}>
  <slot />
</div>
